<div class="movie-detail">
  <div class="movie-image">
    <img [src]="movie?.imageUrl" [alt]="movie?.title">
    <div class="info-overlay">
      <span>{{ movie?.title }}</span>
      <a 
        *ngIf="movie && movie.movieYTUrl" 
        class="play-on-yt-button"
        [href]="movie.movieYTUrl" 
        target="_blank"
        rel="noopener noreferrer">
          <mat-icon>play_arrow</mat-icon>
      </a>
    </div>
  </div>
  <div class="movie-info">
    <div class="movie-title">
      <span>{{ movie?.title }}</span>
      <span class="movie-year">
        ({{ movie?.year }})
      </span>
    </div>

    <div class="genre-chips">
      <div *ngFor="let genre of movie?.genres" class="chip-small">
        {{ genre }}
      </div>
    </div>

    <div class="movie-description">
      {{ movie?.description }}
    </div>
    
    <div class="ratings">
      <div *ngIf="movie && movie?.rating" class="column-rating">
        <span class="rating-entity">My Rating</span>
        <span class="rating-number">{{ movie.rating }}</span>
        <star-rating [rating]="movie.rating"></star-rating>
      </div>

      <div *ngIf="movie && movie?.imdbRating" class="column-rating">
        <span class="rating-entity">Imdb Rating</span>
        <span class="rating-number">{{ movie.imdbRating }}</span>
        <star-rating [rating]="movie.imdbRating ?? 0"></star-rating>
      </div>
    
      <div *ngIf="movie && movie?.csfdRating" class="column-rating">
        <span class="rating-entity">Csfd Rating</span>
        <span class="rating-number">{{ movie.csfdRating }}</span>
        <star-rating [rating]="movie.csfdRating ?? 0"></star-rating>
      </div>
    </div>

    <div *ngIf="movie && movie.movieYTUrl" class="movie-yt-link">
      <a [href]="movie.movieYTUrl" target="_blank">Link to Youtube movie</a>
    </div>
  </div>
</div>

<div *ngIf="movie && movie.trailerUrl" class="trailer">
  <iframe
    width="560"
    height="315"
    [src]="getSanitizedLink(movie.trailerUrl)"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>

