:host {
  display: block;
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

.movie-detail {
  display: flex;
  gap: 24px;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;

  .movie-image {
    height: 500px;
    flex-shrink: 0;
    flex-grow: 0;
    aspect-ratio: 2 / 3;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .movie-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;

      .movie-year {
        font-weight: 300;
      }
    }

    .genre-chips {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 4px 0;
    }

    .chip-small {
      font-size: 12px;
      padding: 2px 12px;
      border-radius: 16px;
      background-color: #2563EB;
      color: #fff;
      font-weight: bold;
    }

    .movie-description {
      font-size: 12px;
      text-align: justify;
    }

    .inline-rating {
      display: flex;
      gap: 16px;
    }

    .movie-yt-link {
      align-self: flex-end flex-start;

      a {
        text-decoration: none;
        color: #2563EB;
      }
    }
  }
}

.trailer {
  max-width: 1000px;
  padding: 0 2rem 2rem 2rem;
  margin: 0 auto;

  iframe {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .movie-detail {
    flex-direction: column;
    padding: 0;

    .movie-image {
      width: 100%;
      overflow: hidden;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 75%;
        color: rgb(43, 43, 49);
        background: linear-gradient(
          to bottom,
          rgba(43, 43, 49, 0) 30%,
          rgba(43, 43, 49, 0.6) 50%,
          rgba(43, 43, 49, 0.95) 80%,
          #2b2b31 95%,
          #2b2b31 100%
        );
      }
    }

    .movie-title,
    .genre-chips,
    .movie-description,
    .inline-rating,
    .movie-yt-link {
      padding-inline: 2rem;
    }

    .movie-info {
      z-index: 1000;
      margin-top: -85px;
    }
  }

  .trailer {
    padding: 2rem;

    iframe {
      height: 200px;
    }
  }
}