<h2 mat-dialog-title>Filters</h2>
<mat-dialog-content class="filter-dialog-content">

  <!-- Favorites Toggle -->
  <mat-slide-toggle 
    [checked]="favoriteOnly()" 
    (change)="favoriteOnly.set($any($event.checked))"
    color="accent">
      Favorites only
  </mat-slide-toggle>
  <br />

  <!-- Genres -->
  <mat-label>Genres</mat-label>
  <mat-chip-set>
    <mat-chip 
      selectable
      *ngFor="let genre of genresEnumValues"
      (click)="toggleGenre(genre)"
      [class.selected-chip]="genres().includes(genre)">
        {{ genre }}
    </mat-chip>
  </mat-chip-set>

  <!-- Actors -->
  <mat-label>Actors</mat-label>
  <mat-chip-set>
    <mat-chip 
      selectable
      *ngFor="let actor of actorsService.getActors()"
      (click)="toggleActor(actor)"
      [class.selected-chip]="actors().includes(actor)">
        {{ actor.name }}
    </mat-chip>
  </mat-chip-set>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="resetFilters()">Reset</button>
  <button mat-flat-button color="accent" (click)="applyFilters()">Apply</button>
</mat-dialog-actions>
