:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #2b2b31;
}

.toolbar {
    flex: 0 0 auto;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}