<mat-toolbar class="app-toolbar">
  <span class="site-logo">My Movies</span>

  <div class="outside-buttons">
    <!-- Filter Button Outside -->
    <button 
      mat-icon-button 
      color="accent" 
      class="filter-icon-outside" 
      (click)="openFilterBottomSheet()">
        <mat-icon>filter_list</mat-icon>
    </button>
  
    <!-- Sort Button Outside -->
    <button 
      mat-icon-button 
      color="accent" 
      class="sort-icon-outside" 
      (click)="openSortBottomSheet()">
        <mat-icon>sort</mat-icon>
    </button>
  </div>

  <div class="controls">
    <mat-form-field appearance="outline" class="search-field custom-input">
  
      <!-- Prefix Icon -->
      <mat-icon matPrefix>search</mat-icon>

      <!-- Search Input -->
      <input 
        matInput 
        placeholder="Search..." 
        autocomplete="off"
        [value]="movieFilterService.search()" 
        (input)="onSearchChange($any($event.target).value)">

      <!-- Suffix Icon -->
      <mat-icon 
        matSuffix 
        (click)="onSearchChange('')" 
        *ngIf="movieFilterService.search()"
        class="close-icon">
          close
      </mat-icon>
    </mat-form-field>
  
    <!-- Filter Button -->
    <button 
      mat-icon-button 
      color="accent" 
      class="filter-icon" 
      (click)="openFilterBottomSheet()">
        <mat-icon>filter_list</mat-icon>
    </button>

    <!-- Sort Button -->
    <button 
      mat-icon-button 
      color="accent" 
      class="sort-icon" 
      (click)="openSortBottomSheet()">
        <mat-icon>sort</mat-icon>
    </button>
  </div>
</mat-toolbar>