:host {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
  border-bottom: 2px solid #2563EB;
}

.app-toolbar {
  height: 100px;
  background: #2b2b31;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  max-width: 1000px;

  .site-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #2563EB;
    cursor: pointer;
  }

  .outside-buttons {
    display: flex;

    .sort-icon-outside,
    .filter-icon-outside {
    color: gray;
    display: none !important;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 16px;

    .search-field { 
      width: 250px; 
      min-width: 180px; 
      color: white;

      .close-icon {
        cursor: pointer;
      }
    }

    .sort-icon,
    .filter-icon {
      color: grey;
      display: block !important;
    }
  }
}

.active-sort {
  color: #2563EB;
}

@media (max-width: 420px) {
  .app-toolbar {
    padding: 8px 24px;
    height: 120px;

    .controls {
      flex: 1;
      
      .search-field {
        flex: 1;
      }

      .sort-icon,
      .filter-icon {
        display: none !important;
      }
    }

    .outside-buttons {
      .sort-icon-outside,
      .filter-icon-outside {
        display: block !important;
      }
    }
  }
}