<toolbar class="toolbar"></toolbar>
<div class="movie-grid">
  <div
    *ngFor="let movie of filteredMovies(); let i = index" 
    class="movie-card" 
    [style.animation-delay]="i * 0.07 + 's'"
    (click)="redirectToMovieDetail(movie.id)">
      <div class="poster-container">
        <img [src]="movie.imageUrl" alt="{{movie.title}}">
        <div class="overlay">
          <span class="movie-title">{{movie.title}}</span>
          <span class="movie-year">{{movie.year}}</span>
          <div class="rating">
            <star-rating [rating]="movie.rating"></star-rating>
            <span>{{ movie.rating }}</span>
          </div>
        </div>
      </div>
    </div>
</div>
