
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mat-bottom-sheet-container-background-color: #2b2b31;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.custom-input {
  --mat-form-field-container-height: 20px;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-outlined-input-text-color: grey;
  --mat-form-field-outlined-outline-color: grey;
  --mat-form-field-outlined-outline-width: 2px;
  --mat-form-field-outlined-hover-outline-color: grey;
  --mat-form-field-leading-icon-color: grey;
  --mat-form-field-trailing-icon-color: grey;
}

.custom-menu {
  --mat-menu-container-color: #2b2b31;
  --mat-menu-item-label-text-color: grey;
}

/* Apply globally */
* {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #888 #f0f0f0;      /* thumb, track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;                /* Track color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;             /* Scroll thumb */
  border-radius: 8px;
  border: 2px solid #f0f0f0;          /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}